<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/Content/app.css' >
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Footer</title>
   
</head>

<body>
   

    <footer class="footer">
        <div class="container bottom_border">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
                    <p class="mb10">Reach me out for more info.. </p>
                    <p><i class="fa fa-location-arrow"></i> 960 Markham Road </p>
                    <p><i class="fa fa-phone"></i> +1-416-819-0725 </p>
                    <p><i class="fa fa fa-envelope"></i> jignesh.bit@gmail.com </p>
                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Services</h5>
                    <p><i class="fas fa-spinner"></i> Services 1 </p>
                    <p><i class="fas fa-spinner"></i> Services 2 </p>
                    <p><i class="fas fa-spinner"></i> Services 3 </p>
                    <p><i class="fas fa-spinner"></i> Services 4 </p>
                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Projects</h5>
                    <p><i class="fas fa-spinner"></i> Project 1 </p>
                    <p><i class="fas fa-spinner"></i> Project 2 </p>
                    <p><i class="fas fa-spinner"></i> Project 3 </p>
                    <p><i class="fas fa-spinner"></i> Project 4 </p>
                </div>


                <div class=" col-sm-4 col-md  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                    <p><a href=""><i class="fab fa-twitter fleft padding-right"></i></a></p>
                    <p><a href=""><i class="fab fa-facebook fleft padding-right"></i></a></p>
                    <p><a href=""><i class="fab fa-instagram fleft padding-right"></i></a></p>
                </div>
            </div>
        </div>

        <div class="container">
            <ul class="foote_bottom_ul_amrc">
                <li><a href="home">Home</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <p class="text-center">Copyright Jignesh Patel | Designed by <a href="#">301109873</a> COMP229-WINTER 2021</p>
        </div>
    </footer>
</body>

</html>