<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/Content/app.css' >
</head>

<body>
    <ul>
        <li class='logo'><img src='/Assets/images/img3.jpg' height="60px" width="60px"/></li>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        
    </ul>
</body>

</html>

