
  <%- include partials/header.ejs  %>
    
    <section id="projects-section">
        <div class="container-projects">
            <h2 class="section-projects" data-outline="Projects">Projects</h2>
            <div class="all-items9">
                <div class="item9">
                    <div class="left9">
                        <div class="img9">
                            <img class="img" src="/Assets/images/img1.jpg ">
                        </div>
                    </div>
                  
                </div>

                <div class="item9">
                    <div class="left9">
                        <div class="img9">
                            <img src="/Assets/images/img4.jpg">
                        </div>
                    </div>
                   
                </div>

                <div class="item9">
                    <div class="left9">
                        <div class="img9">
                            <img src="/Assets/images/img10.png">
                        </div>
                    </div>
                   
                </div>

            </div>
        </div>
    </section>

    <%- include partials/footer.ejs%>