
    <%- include partials/header.ejs  %>
    
    <div class="container5">
        <div class="section-header5">
           
            <h3 class="title5">Services</h3>
            <p class="text5">
              <h3>  I provide so many different services!!!!</h3>
            </p>
        </div>
            <div class="cards5">
                <div class="card-wrap5">
                    <div class="card5">
                        <div class="card-content5" data-card="HTML/CSS">
                            <img src="/Assets/images/img8.png" width="550px" height="100px" class="icon5" alt=""/>
                        <h3 class="title-sm5">Web Design</h3>
                        <p class="text5">
                            I have gained an experience designing and building responsive websites. I have developed a personal approach to testing
                             different solutions that has brought me to design mostly in the browser.
                        </p>
                        <div class="btn-small5">
                            <a href="">Read More</a>
                        </div>
                        </div>
                    
                        
                    </div>
                </div>
            
            <div class="card-wrap5">
            <div class="card5" >
                <div class="card-content5" data-card="DATA">
                    <img src="/Assets/images/img6.jpg" width="550px" height="100px" class="icon5" alt=""/>
                <h3 class="title-sm5">Database Management</h3>
                <p class="text5">
                    Database offers a systematic approach to manage data via an interface for users as well as workloads accessing the databases via apps.
                </p>
                <div class="btn-small5">
                    <a href="">Read More</a>
                </div>
                </div> 
            </div>
            
                
            </div>

            <div class="card-wrap5">
                <div class="card5"> 
                <div class="card-content5" data-card="TEST">
                <img src="/Assets/images/img7.jpg" width="550px" height="100px" class="icon5" alt=""/>
                <h3 class="title-sm5">Software Testing</h3>
                <p class="text5">
                    Evaluating and verifying that a software product or application does what it is supposed to do. 
                    The benefits of testing include preventing bugs, reducing development costs and improving performance.
                </p>
                <div class="btn-small5">
                    <a href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>

    <%- include partials/footer.ejs%>



