    <%- include partials/header.ejs  %>


    <div class="about-container">
    <div class="font-weight-bold" >
      <img class="myimage " style="padding-bottom:5px" src="/Assets/images/img9.jpg" alt="my image" height="150px" width="150px"/>
      <h3 class="font-weight-bold"><b>Jignesh Patel</b></h3>
      <h4 class="font-weight-bold">
        I am a student in <strong>Software Engineering Technology</strong> program at Centennial College.<br>
                    Previously I studies at <strong>Sunflower School</strong> in India.<br></h4>
        <h3 class="font-weight-bold">During study period, I gain knowledge of <strong>Programming Language, Web-Development, Database Management, etc.</strong> </h3>

        <br/><br/>Please find my Resume <a href="https://docs.google.com/document/d/1iqgWomUzz10yD4LRFtOJx8NlpcGgYvWv/edit">Click here</a></h4>
    </div>
</div>
<%- include partials/footer.ejs%>
