

  <%- include partials/header.ejs  %>
  
  <div class="homeclass" style=" text-align:center; padding-left:10%; padding-right:10%; padding-top:5%; padding-bottom:5%;">
  </div>
  <div class="center-div">
    <h1 class="font-weight-bold">"I am a highly competent yet ever improving person of a great software training 
      institute. I am committed to produce excellent software and building
                            a relation of trust!".</h1>
    <p><h3 class="mission">Mission Statement </h3><br><br>
      <h4>By providing differentiated products and services that help my clients reach their goals, I've become indispensable to them.</h4></p>
    <div class="header-buttons">
      <h5>To know more about me please click <a href="about">Know more</a><br>
      Get in touch with us by clicking <a href="contact">Contact Me</a></h5>
    </div>
  </div>
    
  <%- include partials/footer.ejs%>

